<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the US</title>
    <meta
      name="description"
      content="A place to put your images to show where you've been and to see the many places other people have been."
    />
    <meta name="author" content="Ian Dizney" />
    <meta
      name="keywords"
      content="United States, pictures, picture wall, images, landscape"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= require('./favicon.ico')%>"
    />
  </head>
  <body class="body">
    <div class="page">
      <header class="header">
        <img
          class="logo"
          src="<%= require('./images/logo.svg')%>"
          alt="Around the US Logo"
        />
      </header>
      <main class="main">
        <section class="profile">
          <img
            class="profile__image"
            alt="An image of Jacues Cousteau"
            src="<%= require('./images/jacques-cousteaujacques_profile.svg')%>"
          />
          <div class="profile__layout">
            <h1 class="profile__title">Jacques Cousteau</h1>
            <p class="profile__subtitle">Explorer</p>
            <button
              type="button"
              class="profile__edit"
              aria-label="Edit"
            ></button>
          </div>
          <button type="button" class="profile__add" aria-label="Add"></button>
        </section>
        <section class="popup">
          <div class="popup__container" id="editPopup">
            <form class="popup__form" name="addForm" id="editForm">
              <fieldset class="popup__fieldset">
                <button type="button" class="popup__button" aria-label="Close">
                  <img
                    class="popup__close"
                    alt="Close button image"
                    src="<%= require('./images/close-icon.svg')%>"
                    id="editPopup-close"
                  />
                </button>
                <h2 class="popup__header">Edit Profile</h2>
                <input
                  class="popup__input"
                  type="text"
                  placeholder="Name"
                  required
                  name="nameInput"
                  id="inputName"
                  minlength="2"
                  maxlength="40"
                />
                <span class="popup__input-error inputName-error"></span>
                <input
                  class="popup__input"
                  type="text"
                  placeholder="Description"
                  required
                  name="descriptionInput"
                  id="inputDesc"
                  minlength="2"
                  maxlength="200"
                />
                <span class="popup__input-error inputDesc-error"></span>
                <button
                  class="popup__save"
                  type="submit"
                  aria-label="Save"
                  id="editSave"
                >
                  Save
                </button>
              </fieldset>
            </form>
          </div>
          <div class="popup__container" id="addPopup">
            <form class="popup__form" name="addForm" id="addForm">
              <fieldset class="popup__fieldset">
                <button type="button" class="popup__button" aria-label="Close">
                  <img
                    class="popup__close"
                    alt="Close button image"
                    src="<%= require('./images/close-icon.svg')%>"
                    id="addPopup-close"
                  />
                </button>
                <h2 class="popup__header">New Place</h2>
                <input
                  class="popup__input"
                  type="text"
                  placeholder="Title"
                  required
                  name="title"
                  id="inputTitle"
                  minlength="1"
                  maxlength="30"
                />
                <span class="popup__input-error inputTitle-error"></span>
                <input
                  class="popup__input"
                  placeholder="Image link"
                  required
                  name="imageLink"
                  id="inputLink"
                  type="url"
                />
                <span class="popup__input-error inputLink-error"></span>
                <button
                  class="popup__save"
                  type="submit"
                  aria-label="Save"
                  id="addSave"
                >
                  Save
                </button>
              </fieldset>
            </form>
          </div>
          <div class="popup__container" id="imagePopup">
            <div class="popup__photo">
              <img src=" " alt=" " class="popup__image" />
              <button type="button" class="popup__button" aria-label="Close">
                <img
                  class="popup__close"
                  alt="Close button image"
                  src="<%= require('./images/close-icon.svg')%>"
                  id="imagePopup-close"
                />
              </button>
              <h2 class="popup__title"></h2>
            </div>
          </div>
        </section>
        <section class="cards">
          <template id="card">
            <article class="card">
              <img class="card__image" alt="" src=" " />
              <h2 class="card__title"></h2>
              <button
                class="card__like"
                aria-label="Like"
                type="Button"
              ></button>
              <button
                class="card__trash"
                aria-label="Trash"
                type="Button"
                id="trash"
              >
                <img
                  alt="A trash icon to delete the card"
                  src="<%= require('./images/Trash.svg')%>"
                />
              </button>
            </article>
          </template>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__title">© 2022 Around The U.S.</p>
      </footer>
    </div>
  </body>
</html>
