@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter Web/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter Web/Inter-Black.woff") format("woff");
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cards {
    padding-top: 36px;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 361px);
    grid-row-gap: 20px;
    width: 282px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cards {
    padding-top: 47px;
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    grid-gap: 20px 17px;
    width: 581px;
  }
}

@media screen and (min-width: 1280px) {
  .cards {
    padding-top: 47px;
    margin: 0 200px 0 200px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    grid-gap: 20px 17px;
  }
}

.cards {
  display: grid;
}

.card {
  background: white;
  border-radius: 10px;
  position: relative;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 25px 20px;
}

.card__like {
  width: 21px;
  height: 18px;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.card__like:disabled {
  background: #000000;
}

.card__like:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}
