.card {
  background: white;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 241px 41px;
  grid-template-rows: 282px 29px;
  gap: 25px 0;
  padding-bottom: 25px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  max-width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column: 1/1;
  grid-row: 2/2;
  margin: 0 0 0 20px;
}

.card__like {
  grid-column: 2/2;
  grid-row: 2/2;
  margin: 6px 20px 0 0;
  border: none;
  background-color: #ffffff;
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
}

.card_like_activate {
  background-image: url(../images/activatedLike.svg);
}

.card__like:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
  cursor: pointer;
}

.card__trash {
  grid-column: 2/2;
  grid-row: 1/1;
  margin: 24px 16px 0 0;
  height: 14px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.card__trash:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
  cursor: pointer;
}

/*Added this new rule to fix an issue of the hover state being applied
and not getting removed when clicking the like button on mobile.*/

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__like:hover {
    opacity: 1;
  }
}
